body{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 115deg, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(backg.png);
    
}

.main{
    width: 70vh;
 
    padding: 30px 0px;
    border-radius: 30px;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    text-align: center;
}

.title{
    font-size: 12px;
    font-weight: 600px;
    text-align: center;
}

label{
    font-size: small;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.email input{
    padding: 12px 20px;
    border: 1px solid;
    border-color: #cdcdcd;
    border-radius: 15px;
    outline: none;
}

.senha{
    margin-top: 10px;
}

.senha input{
    padding: 12px 20px;
    border: 1px solid;
    border-color: #cdcdcd;
    border-radius: 15px;
    outline: none;
}

.esq{ 
    margin-top: 10px;
    font-size: small;
}

.botão{
    margin-top: 20px;
    padding: 8px 8px;
    background-color: #E60023;
    border-radius: 15px;
}

.botão button{
    background-color: #E60023;
    width: 35vh;
    border: none;
    color: #FFFFFF;
}

.ou{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    font-weight: 600;
}

.face{
    display: flex;
    justify-content: center;
    align-items: center;
}

.face button{
    background-color: #1877F2;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
    padding: 10px 10px;
    width: 38vh;
}

.msg{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 30px;
    font-size: 11px;
}

.msg2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    font-size: 11px ;
}

.dif{
    margin-top: 15px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}